In [20]:
%reload_ext sql
%config SqlMagic.displaycon = False
%config SqlMagic.autolimit = 100


Exercice : variations sur le thème de la clef primaire
-----------------------------------------------

On considère le script SQL suivant :

```sql
CREATE TABLE Classe(
  id INTEGER PRIMARY KEY,
  description TEXT
);

CREATE TABLE Herite(
  enfant INT REFERENCES Classe(id),
  parent INT REFERENCES Classe(id),
  PRIMARY KEY (enfant, parent)
);

INSERT INTO Classe VALUES(0, 'chose');
INSERT INTO Classe VALUES(1, 'animal');
INSERT INTO Classe VALUES(2, 'humain');
INSERT INTO Classe VALUES(3, 'enseignant');
INSERT INTO Classe VALUES(4, 'chat');
INSERT INTO Classe VALUES(5, 'science');

INSERT INTO Herite VALUES(1, 0);
INSERT INTO Herite VALUES(2, 1);
INSERT INTO Herite VALUES(3, 2);
INSERT INTO Herite VALUES(4, 1);
INSERT INTO Herite VALUES(3, 5);
```

In [21]:
%sql sqlite:///exo1-q1.db

Travaux pratiques bases de données : conception
===============================================

**IMPORTANT** : par défaut, la vérification des clefs étrangère n'est pas activée dans SQLite <https://www.sqlite.org/foreignkeys.html>, activez là avec la commande :

```sql
PRAGMA foreign_keys=1;
```

In [22]:
%%sql

PRAGMA foreign_keys=1;

Done.

[]

In [23]:
%%sql

DROP TABLE  IF EXISTS Herite ;  --on détruit d'abord la table enfant (par la contrainte de clef étrangère)

DROP TABLE  IF EXISTS  Classe ; --puis la table maître



CREATE TABLE Classe(
  id INTEGER PRIMARY KEY,
  description TEXT
);

CREATE TABLE Herite(
  enfant INT REFERENCES Classe(id),
  parent INT REFERENCES Classe(id),
  PRIMARY KEY (enfant, parent)
);

INSERT INTO Classe VALUES(0, 'chose');
INSERT INTO Classe VALUES(1, 'animal');
INSERT INTO Classe VALUES(2, 'humain');
INSERT INTO Classe VALUES(3, 'enseignant');
INSERT INTO Classe VALUES(4, 'chat');
INSERT INTO Classe VALUES(5, 'science');

INSERT INTO Herite VALUES(1, 0);
INSERT INTO Herite VALUES(2, 1);
INSERT INTO Herite VALUES(3, 2);
INSERT INTO Herite VALUES(4, 1);
INSERT INTO Herite VALUES(3, 5);

Done.
Done.
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]


**Exercice** : on veut s'habituer aux messages d'erreurs standards :

* insérez un nouveau tuple avec `INSERT INTO Classe VALUES(0, 'patate');`. Quel est le message d'erreur ? Idem avec `INSERT INTO Herite VALUES(1, 0);`
* insérez un nouveau tuple avec `INSERT INTO Herite VALUES(0, 42);`. Quel est le message d'erreur ? (_NB_ : si vous n'en avez pas, c'est que les clefs étrangères ne sont pas activées !)
</div>

In [24]:
%%sql 

INSERT INTO Classe VALUES(0, 'patate');

--IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: Classe.id
[SQL: INSERT INTO Classe VALUES(0, 'patate');]

IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: Classe.id
[SQL: INSERT INTO Classe VALUES(0, 'patate');]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [25]:
%%sql 

INSERT INTO Herite VALUES(1, 0);

--IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: Herite.enfant, Herite.parent
[SQL: INSERT INTO Herite VALUES(1, 0);]

IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: Herite.enfant, Herite.parent
[SQL: INSERT INTO Herite VALUES(1, 0);]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [26]:
%%sql 

INSERT INTO Herite VALUES(0, 42);

--IntegrityError: (sqlite3.IntegrityError) FOREIGN KEY constraint failed
[SQL: INSERT INTO Herite VALUES(0, 42);]

IntegrityError: (sqlite3.IntegrityError) FOREIGN KEY constraint failed
[SQL: INSERT INTO Herite VALUES(0, 42);]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [27]:
%%sql 

INSERT INTO Herite VALUES(0, 1);

1 rows affected.

[]

In [28]:
%%sql

SELECT * FROM Herite;

Done.

[(1, 0), (2, 1), (3, 2), (4, 1), (3, 5), (0, 1)]


**Exercice** : dessinez un diagramme Entité-Association du schéma de cette base. Ensuite, représentez graphiquement _le contenu_ de cette base par une hiérarchie entre les classes.

* Premier diagramme :

![Classe_enfants.png](mocodo/Classe_enfants/Classe_enfants.png)

* Avec une entité-association réflexive :
![Classes.png](mocodo/Classes/Classes.png)

* Avec [Mermaid](https://mermaid-js.github.io/mermaid-live-editor/) (je n'arrive pas à insérerer les attibuts pour l'entité) :

[![](https://mermaid.ink/img/eyJjb2RlIjoiZXJEaWFncmFtXG4gICAgICAgIENsYXNzZSB9by0tb3sgQ2xhc3NlIDogSGVyaXRlXG4gICAgICAgIFxuXHRcdFx0XHRcdCIsIm1lcm1haWQiOnsidGhlbWUiOiJkZWZhdWx0In0sInVwZGF0ZUVkaXRvciI6ZmFsc2V9)](https://mermaid-js.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZXJEaWFncmFtXG4gICAgICAgIENsYXNzZSB9by0tb3sgQ2xhc3NlIDogSGVyaXRlXG4gICAgICAgIFxuXHRcdFx0XHRcdCIsIm1lcm1haWQiOnsidGhlbWUiOiJkZWZhdWx0In0sInVwZGF0ZUVkaXRvciI6ZmFsc2V9)

* Diagramme de classes :
    
[![](https://mermaid.ink/img/eyJjb2RlIjoiY2xhc3NEaWFncmFtXG5cdENob3NlIDx8LS0gQW5pbWFsXG5cdEFuaW1hbCA8fC0tIEh1bWFpblxuXHRIdW1haW4gPHwtLSBFbnNlaWduYW50XG5cdEFuaW1hbCA8fC0tIENoYXRcblx0U2NpZW5jZSA8fC0tIEVuc2VpZ25hbnRcblx0XG5cdFxuXHRcdFx0XHRcdCIsIm1lcm1haWQiOnsidGhlbWUiOiJkZWZhdWx0In0sInVwZGF0ZUVkaXRvciI6ZmFsc2V9)](https://mermaid-js.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiY2xhc3NEaWFncmFtXG5cdENob3NlIDx8LS0gQW5pbWFsXG5cdEFuaW1hbCA8fC0tIEh1bWFpblxuXHRIdW1haW4gPHwtLSBFbnNlaWduYW50XG5cdEFuaW1hbCA8fC0tIENoYXRcblx0U2NpZW5jZSA8fC0tIEVuc2VpZ25hbnRcblx0XG5cdFxuXHRcdFx0XHRcdCIsIm1lcm1haWQiOnsidGhlbWUiOiJkZWZhdWx0In0sInVwZGF0ZUVkaXRvciI6ZmFsc2V9)


**Exercice** : si on remplace `PRIMARY KEY (enfant, parent)` par la contrainte `PRIMARY KEY (enfant)` dans la définition de `Herite` : 


  * quelle restriction est imposée sur les hiérarchies de classes que cette base peut représenter ? 
  
>Voir ci-dessous, on ne peut pas insérer dans la table  `Herite` deux relations d'héritage avec le même identifiant `enfant` et des identifiants `parent` distincts. Autrement dit, un enfant ne peut avoir qu'un parent, une classe enfant ne peut hériter que d'une seule classe mère.
  
  * quel est le changement correspondant dans le diagramme E/A ? 
> Changement de cardinalité sur l'une des pattes de l'association `Herite`, et séparation de l'entité `Classe` en deux entités `Classe_parent` et `Classe_enfant`. L'entité association est une relation fonctionnelle entre `Classe_enfant` et  `Classe_parent`.

![Classe_parents.png](mocodo/Classe_parents/Classe_parents.png)

  * si on retraduit le diagramme E/A en schéma SQL, quel schéma obtiendra-t'on ?
  
> Avec [Mocodo](http://mocodo.wingi.net/), on obtient un schéma avec deux classes `Classe_Enfant` et `Classe_Parent` :



<div>
  <span class='relation'>Classe_Enfant</span> (
    <span class='primary'>id</span>,
    <span class='normal'>description</span>,
    <span class='foreign'>id.1</span>
  )
  <ul>
    <li>Le champ <i>id</i> constitue la clef primaire de la table. C'était déjà un identifiant de l'entité <i>Classe_Enfant</i>.</li>
    <li>Le champ <i>description</i> était déjà un simple attribut de l'entité <i>Classe_Enfant</i>.</li>
    <li>Le champ <i>id.1</i> est une clef étrangère. Il a migré à partir de l'entité <i>Classe_Parent</i> par l'association de dépendance fonctionnelle <i>Herite</i> en perdant son caractère identifiant.</li>
  </ul>
</div>

<div>
  <span class='relation'>Classe_Parent</span> (
    <span class='primary'>id</span>,
    <span class='normal'>description</span>
  )
  <ul>
    <li>Le champ <i>id</i> constitue la clef primaire de la table. C'était déjà un identifiant de l'entité <i>Classe_Parent</i>.</li>
    <li>Le champ <i>description</i> était déjà un simple attribut de l'entité <i>Classe_Parent</i>.</li>
  </ul>
</div>


```sql
.open "CLASSE_ENFANTS";

CREATE TABLE "CLASSE_ENFANT" (
  "id" VARCHAR(42),
  "description" VARCHAR(42),
  "id_1" VARCHAR(42),
  PRIMARY KEY ("id"),
  FOREIGN KEY ("id_1") REFERENCES "CLASSE_PARENT" ("id")
);

CREATE TABLE "CLASSE_PARENT" (
  "id" VARCHAR(42),
  "description" VARCHAR(42),
  PRIMARY KEY ("id")
);
```


* Voir le [corrigé  de Romuald Thion](https://forge.univ-lyon1.fr/diu-eil/bloc4/-/blob/correction/4_bases_de_donnees_normalisation/TP/correction/TP_conception_de_BD/TP_conception_de_BD_correction.md), on peut avoir une seule table `classe` avec une clef étrangère qui référence la clef primaire de `classe`. Ici l'association `enfant` signifie _est enfant de._

![enfant](images/enfant-0-1-V1.png)

![enfant](images/enfant-0-1-V2.png)



```sql
------------------------------------------------------------
-- Table: Classe
------------------------------------------------------------
CREATE TABLE Classe(
  id             INTEGER PRIMARY KEY,
  description    TEXT NOT NULL ,
  parent         INTEGER  REFERENCES Classe(id)
  -- si la cardinalité est 1,1 on doit ajouter la contrainte NOT NULL 
  --ii parent signifie a pour parent
);

------------------------------------------------------------
-- Plus de table Herite
------------------------------------------------------------
```

In [ ]:
%sql sqlite:///exo1-q2.db

In [ ]:
%%sql

PRAGMA foreign_keys=1;

In [ ]:
%%sql

CREATE TABLE Classe(
  id INTEGER PRIMARY KEY,
  description TEXT
);

CREATE TABLE Herite(
  enfant INT REFERENCES Classe(id),
  parent INT REFERENCES Classe(id),
  PRIMARY KEY (enfant)
);

INSERT INTO Classe VALUES(0, 'chose');
INSERT INTO Classe VALUES(1, 'animal');
INSERT INTO Classe VALUES(2, 'humain');
INSERT INTO Classe VALUES(3, 'enseignant');
INSERT INTO Classe VALUES(4, 'chat');
INSERT INTO Classe VALUES(5, 'science');

INSERT INTO Herite VALUES(1, 0);
INSERT INTO Herite VALUES(2, 1);
INSERT INTO Herite VALUES(3, 2);
INSERT INTO Herite VALUES(4, 1);
INSERT INTO Herite VALUES(3, 5);


**Exercice** : mêmes questions que précédemment si on remplace `PRIMARY KEY (enfant, parent)` par la contrainte `PRIMARY KEY (parent)` .



  * quelle restriction est imposée sur les hiérarchies de classes que cette base peut représenter ? 
  
>Voir ci-dessous, on ne peut pas insérer dans la table  `Herite` deux relations d'héritage avec le même identifiant `parent` et des identifiants `enfant` distincts. Autrement dit, un parent ne peut avoir qu'un enfant.

```
IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: Herite.parent
[SQL: INSERT INTO Herite VALUES(4, 1);]
```
  
  * quel est le changement correspondant dans le diagramme E/A ? 
> Changement de cardinalité sur l'une des pattes de l'association `Herite`, et séparation de l'entité `Classe` en deux entités `Classe_parent` et `Classe_enfant`. L'entité association estune relation fonctionnelle entre `Classe_parent` et `Classe_enfant`.

![Classe_parents.png](mocodo/Classe_enfants2/Classe_enfants2.png)

  * si on retraduit le diagramme E/A en schéma SQL, quel schéma obtiendra-t'on ?
  
> Avec [Mocodo](http://mocodo.wingi.net/), on obtient un schéma deux classes `Classe_Enfant` et `Classe_Parent` :


<div>
  <span class='relation'>Classe_Enfant</span> (
    <span class='primary'>id</span>,
    <span class='normal'>description</span>,
    <span class='foreign'>id.1</span>
  )
  <ul>
    <li>Le champ <i>id</i> constitue la clef primaire de la table. C'était déjà un identifiant de l'entité <i>Classe_Enfant</i>.</li>
    <li>Le champ <i>description</i> était déjà un simple attribut de l'entité <i>Classe_Enfant</i>.</li>
    <li>Le champ <i>id.1</i> est une clef étrangère. Il a migré à partir de l'entité <i>Classe_Parent</i> par l'association de dépendance fonctionnelle <i>Herite</i> en perdant son caractère identifiant.</li>
  </ul>
</div>

<div>
  <span class='relation'>Classe_Parent</span> (
    <span class='primary'>id</span>,
    <span class='normal'>description</span>
  )
  <ul>
    <li>Le champ <i>id</i> constitue la clef primaire de la table. C'était déjà un identifiant de l'entité <i>Classe_Parent</i>.</li>
    <li>Le champ <i>description</i> était déjà un simple attribut de l'entité <i>Classe_Parent</i>.</li>
  </ul>
</div>



```sql
.open "CLASSE_ENFANTS";

CREATE TABLE "CLASSE_ENFANT" (
  "id" VARCHAR(42),
  "description" VARCHAR(42),
  "id_1" VARCHAR(42),
  PRIMARY KEY ("id"),
  FOREIGN KEY ("id_1") REFERENCES "CLASSE_PARENT" ("id")
);

CREATE TABLE "CLASSE_PARENT" (
  "id" VARCHAR(42),
  "description" VARCHAR(42),
  PRIMARY KEY ("id")
);
```







</div>

In [ ]:
%sql sqlite:///exo1-q3.db

In [ ]:
%%sql

PRAGMA foreign_keys=1;

In [ ]:
%%sql

CREATE TABLE Classe(
  id INTEGER PRIMARY KEY,
  description TEXT
);

CREATE TABLE Herite(
  enfant INT REFERENCES Classe(id),
  parent INT REFERENCES Classe(id),
  PRIMARY KEY (parent)
);

INSERT INTO Classe VALUES(0, 'chose');
INSERT INTO Classe VALUES(1, 'animal');
INSERT INTO Classe VALUES(2, 'humain');
INSERT INTO Classe VALUES(3, 'enseignant');
INSERT INTO Classe VALUES(4, 'chat');
INSERT INTO Classe VALUES(5, 'science');

INSERT INTO Herite VALUES(1, 0);
INSERT INTO Herite VALUES(2, 1);
INSERT INTO Herite VALUES(3, 2);
INSERT INTO Herite VALUES(4, 1);
INSERT INTO Herite VALUES(3, 5);


**Exercice** : mêmes questions que précédemment si on enlève simplement la contrainte `PRIMARY KEY (enfant, parent)`.

In [ ]:
%sql sqlite:///exo1-q10.db

In [ ]:
%%sql

PRAGMA foreign_keys=1;

In [ ]:
%%sql

CREATE TABLE Classe(
  id INTEGER PRIMARY KEY,
  description TEXT
);

CREATE TABLE Herite(
  enfant INT REFERENCES Classe(id),
  parent INT REFERENCES Classe(id)
    )
;

INSERT INTO Classe VALUES(0, 'chose');
INSERT INTO Classe VALUES(1, 'animal');
INSERT INTO Classe VALUES(2, 'humain');
INSERT INTO Classe VALUES(3, 'enseignant');
INSERT INTO Classe VALUES(4, 'chat');
INSERT INTO Classe VALUES(5, 'science');

INSERT INTO Herite VALUES(1, 0);
INSERT INTO Herite VALUES(2, 1);
INSERT INTO Herite VALUES(3, 2);
INSERT INTO Herite VALUES(4, 1);
INSERT INTO Herite VALUES(3, 5);


On a toujours une contrainte d'intégrité avec la clef `id` dans la table `Classe`, on ne peut pas insérer un tuple avec un `id` déjà attibué

In [ ]:
%%sql

INSERT INTO Classe VALUES(0, 'patate');

-- IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: Classe.id
[SQL: INSERT INTO Classe VALUES(0, 'patate');]



En revanche, on n'a plus de contrainte d'intégrité sur l'unicité dans la table `Herite` (qui n'a plus de clef primaire).

In [ ]:
%%sql

INSERT INTO Herite VALUES(1, 0);



On a toujours la contrainte d'intégrité référentielle  entre les colonnes `enfant` et `parent` de la table `Herite` et la colonne `id` de la table `Classe` (contrainte de clef étangère).

In [ ]:
%%sql

INSERT INTO Herite VALUES(1, 7);

--IntegrityError: (sqlite3.IntegrityError) FOREIGN KEY constraint failed
[SQL: INSERT INTO Herite VALUES(1, 7);]

In [ ]:
%%sql

INSERT INTO Herite VALUES(1, 7);

In [ ]:
%%sql 

SELECT * FROM Herite;

In [ ]:
%%sql 

SELECT * FROM Classe;

On a toujours une contrainte d'intégrité avec la clef id dans la table Classe, on ne peut pas insérer un tuple avec un id déjà attribué, comme le INSERT INTO Classe VALUES(0, 'patate');
En revanche, redondances possibles : on n'a plus de contrainte d'intégrité sur l'unicité dans la table Herite (qui n'a plus de clef primaire). Donc INSERT INTO Herite VALUES(1, 0); fonctionne…
On a toujours la contrainte d'intégrité référentielle de la colonne id de la table Classe. On ne peut pas insérer si l’identifiant n’est pas dans la table Classe : INSERT INTO Herite VALUES(0, 42); ne va pas.
Autrement dit : on peut être plusieurs fois l'enfant d'un de ses parents

    • Diagramme entité relation dans ce cas :
__Ici il y a un piège car c’est pas modélisable, on n’est plus en model relationnel, pas de cahier des charges…
Pas traduisible en schéma e/a si plus de clé primaire. Penser : y’a toujours une clé primaire !__

## Pas de diagrame E/A ici !

* Diagramme entité relation dans ce cas :

![Classe_parents2.png](mocodo/Classes/Classes.png)

* Schéma SQL :


<div>
  <span class='relation'>Classe</span> (
    <span class='primary'>id</span>,
    <span class='normal'>description</span>
  )
  <ul>
    <li>Le champ <i>id</i> constitue la clef primaire de la table. C'était déjà un identifiant de l'entité <i>Classe</i>.</li>
    <li>Le champ <i>description</i> était déjà un simple attribut de l'entité <i>Classe</i>.</li>
  </ul>
</div>

<div>
  <span class='relation'>Herite</span> (
    <span class='foreign primary'>id</span>,
    <span class='foreign primary'>id.1</span>
  )
  <ul>
    <li>Les champs <i>id</i> et <i>id.1</i> constituent la clef primaire de la table. Ce sont des clefs étrangères qui ont migré directement à partir de l'entité <i>Classe</i>.</li>
  </ul>
</div>


```sql
.open "CLASSES";

CREATE TABLE "CLASSE" (
  "id" VARCHAR(42),
  "description" VARCHAR(42),
  PRIMARY KEY ("id")
);

CREATE TABLE "HERITE" (
  "id" VARCHAR(42),
  "id_1" VARCHAR(42),
  PRIMARY KEY ("id", "id_1"),
  FOREIGN KEY ("id") REFERENCES "CLASSE" ("id"),
  FOREIGN KEY ("id_1") REFERENCES "CLASSE" ("id")
);

```

__Remarques générales :__ Quand on est identifiable par ses attributs on est une entité et quand les clés étrangères font partie de la clé primaire, on est une association.
Quand la clé primaire est composée de clés étrangères alors typiquement on est défini par les entités qui participent, on est une association on n’est pas une entité forte ! 
L'entité "Classe" est en association avec elle-même.      Si b détermine c, alors b est clé.
Quand les problèmes arrivent tardivement dans une application, c’est typiquement un problème de bd.
La bd doit correspondre au cahier des charges.

Exercice 2 : reprise de la base _Stanford_
---------------------------------------

On reprend la base _Stanford_ d'exemple de la première partie.
Le script de création de table est le suivant.

```sql
create table College(
    cName varchar(255),
    state varchar(255),
    enrollment int);
    
create table Student(
    sID int,
    sName varchar(255),
    GPA real, -- Grade Point Average, out of 4
    sizeHS int);

create table Apply(
  sID int,
  cName varchar(255),
  major varchar(255),
  decision char(1));
```

In [ ]:
%sql sqlite:///stanford5.db

In [ ]:
%%sql

PRAGMA foreign_keys=1;


**Exercice** : Reprenez le fichier `base-stanford.sql` du TP1 et modifiez le schéma pour y ajouter les contraintes d'intégrité (clef primaire et clef étrangères) attendues. Après modification, _toutes_ les données d'exemple de la base doivent pouvoir être insérées sans erreurs.

In [ ]:
%%sql

--drop table if exists Apply;
--drop table if exists College;
--drop table if exists Student;

CREATE TABLE College(
    cName varchar(255), 
    state varchar(255), 
    enrollment int,
    PRIMARY KEY (cName)    
);

CREATE TABLE  Student(
    sID int, 
    sName varchar(255), 
     GPA real, 
     sizeHS int,
    PRIMARY KEY (sID)
);

create table Apply(
    sID int REFERENCES Student(sID),                    
    cName varchar(255) REFERENCES College(cName),
    major varchar(255),  
    decision char(1),
    PRIMARY KEY (sID, cName, major)    
);


insert into Student values (123, 'Amy', 3.9, 1000);
insert into Student values (234, 'Bob', 3.6, 1500);
insert into Student values (345, 'Craig', 3.5, 500);
insert into Student values (456, 'Doris', 3.9, 1000);
insert into Student values (567, 'Edward', 2.9, 2000);
insert into Student values (678, 'Fay', 3.8, 200);
insert into Student values (789, 'Gary', 3.4, 800);
insert into Student values (987, 'Helen', 3.7, 800);
insert into Student values (876, 'Irene', 3.9, 400);
insert into Student values (765, 'Jay', 2.9, 1500);
insert into Student values (654, 'Amy', 3.9, 1000);
insert into Student values (543, 'Craig', 3.4, 2000);

insert into College values ('Stanford', 'CA', 15000);
insert into College values ('Berkeley', 'CA', 36000);
insert into College values ('MIT', 'MA', 10000);
insert into College values ('Cornell', 'NY', 21000);

insert into Apply values (123, 'Stanford', 'CS', 'Y');
insert into Apply values (123, 'Stanford', 'EE', 'N');
insert into Apply values (123, 'Berkeley', 'CS', 'Y');
insert into Apply values (123, 'Cornell', 'EE', 'Y');
insert into Apply values (234, 'Berkeley', 'biology', 'N');
insert into Apply values (345, 'MIT', 'bioengineering', 'Y');
insert into Apply values (345, 'Cornell', 'bioengineering', 'N');
insert into Apply values (345, 'Cornell', 'CS', 'Y');
insert into Apply values (345, 'Cornell', 'EE', 'N');
insert into Apply values (678, 'Stanford', 'history', 'Y');
insert into Apply values (987, 'Stanford', 'CS', 'Y');
insert into Apply values (987, 'Berkeley', 'CS', 'Y');
insert into Apply values (876, 'Stanford', 'CS', 'N');
insert into Apply values (876, 'MIT', 'biology', 'Y');
insert into Apply values (876, 'MIT', 'marine biology', 'N');
insert into Apply values (765, 'Stanford', 'history', 'Y');
insert into Apply values (765, 'Cornell', 'history', 'N');
insert into Apply values (765, 'Cornell', 'psychology', 'Y');
insert into Apply values (543, 'MIT', 'CS', 'N');

* Diagramme entité relation dans ce cas (j'ai rajouté une clef primaire `id` dans la table `Apply`) :

![Students.png](mocodo/Stanford/Students.png)


<div>
  <span class='relation'>Apply</span> (
    <span class='primary'>id</span>,
    <span class='normal'>sID</span>,
    <span class='normal'>cName</span>,
    <span class='normal'>major</span>,
    <span class='normal'>decision</span>,
    <span class='foreign'>cName.1</span>,
    <span class='foreign'>sID.1</span>
  )
  <ul>
    <li>Le champ <i>id</i> constitue la clef primaire de la table. C'était déjà un identifiant de l'entité <i>Apply</i>.</li>
    <li>Les champs <i>sID</i>, <i>cName</i>, <i>major</i> et <i>decision</i> étaient déjà de simples attributs de l'entité <i>Apply</i>.</li>
    <li>Le champ <i>cName.1</i> est une clef étrangère. Il a migré à partir de l'entité <i>College</i> par l'association de dépendance fonctionnelle <i>Dossier</i> en perdant son caractère identifiant.</li>
    <li>Le champ <i>sID.1</i> est une clef étrangère. Il a migré à partir de l'entité <i>Student</i> par l'association de dépendance fonctionnelle <i>Candidature</i> en perdant son caractère identifiant.</li>
  </ul>
</div>

<div>
  <span class='relation'>Student</span> (
    <span class='primary'>sID</span>,
    <span class='normal'>sName</span>,
    <span class='normal'>GPA</span>,
    <span class='normal'>sizeHS</span>
  )
  <ul>
    <li>Le champ <i>sID</i> constitue la clef primaire de la table. C'était déjà un identifiant de l'entité <i>Student</i>.</li>
    <li>Les champs <i>sName</i>, <i>GPA</i> et <i>sizeHS</i> étaient déjà de simples attributs de l'entité <i>Student</i>.</li>
  </ul>
</div>

<div>
  <span class='relation'>College</span> (
    <span class='primary'>cName</span>,
    <span class='normal'>state</span>,
    <span class='normal'>enrollment</span>
  )
  <ul>
    <li>Le champ <i>cName</i> constitue la clef primaire de la table. C'était déjà un identifiant de l'entité <i>College</i>.</li>
    <li>Les champs <i>state</i> et <i>enrollment</i> étaient déjà de simples attributs de l'entité <i>College</i>.</li>
  </ul>
</div>

**Exercice** : SQL propose un type de contrainte assez générique appelée `CHECK`, définissez en pour les attributs [_GPA_](https://en.wikipedia.org/wiki/Academic_grading_in_the_United_States#Numerical_and_letter_grades) et _decision_. Là encore, toutes les données doivent pouvoir s'importer correctement après ajout des contraintes supplémentaires.

In [ ]:
%sql sqlite:///stanford6.db

In [ ]:
%%sql

PRAGMA foreign_keys=1;

In [ ]:
%%sql

--drop table if exists Apply;
--drop table if exists College;
--drop table if exists Student;

CREATE TABLE College(
    cName varchar(255), 
    state varchar(255), 
    enrollment int,
    PRIMARY KEY (cName)    
);

CREATE TABLE  Student(
    sID int, 
    sName varchar(255), 
    GPA real CHECK(0 <= GPA <= 4), 
    sizeHS int,
    PRIMARY KEY (sID)
);

create table Apply(
    sID int REFERENCES Student(sID),                    
    cName varchar(255) REFERENCES College(cName),
    major varchar(255),  
    decision char(1) CHECK(decision IN('Y', 'N')),
    PRIMARY KEY (sID, cName, major)    
);


insert into Student values (123, 'Amy', 3.9, 1000);
insert into Student values (234, 'Bob', 3.6, 1500);
insert into Student values (345, 'Craig', 3.5, 500);
insert into Student values (456, 'Doris', 3.9, 1000);
insert into Student values (567, 'Edward', 2.9, 2000);
insert into Student values (678, 'Fay', 3.8, 200);
insert into Student values (789, 'Gary', 3.4, 800);
insert into Student values (987, 'Helen', 3.7, 800);
insert into Student values (876, 'Irene', 3.9, 400);
insert into Student values (765, 'Jay', 2.9, 1500);
insert into Student values (654, 'Amy', 3.9, 1000);
insert into Student values (543, 'Craig', 3.4, 2000);

insert into College values ('Stanford', 'CA', 15000);
insert into College values ('Berkeley', 'CA', 36000);
insert into College values ('MIT', 'MA', 10000);
insert into College values ('Cornell', 'NY', 21000);

insert into Apply values (123, 'Stanford', 'CS', 'Y');
insert into Apply values (123, 'Stanford', 'EE', 'N');
insert into Apply values (123, 'Berkeley', 'CS', 'Y');
insert into Apply values (123, 'Cornell', 'EE', 'Y');
insert into Apply values (234, 'Berkeley', 'biology', 'N');
insert into Apply values (345, 'MIT', 'bioengineering', 'Y');
insert into Apply values (345, 'Cornell', 'bioengineering', 'N');
insert into Apply values (345, 'Cornell', 'CS', 'Y');
insert into Apply values (345, 'Cornell', 'EE', 'N');
insert into Apply values (678, 'Stanford', 'history', 'Y');
insert into Apply values (987, 'Stanford', 'CS', 'Y');
insert into Apply values (987, 'Berkeley', 'CS', 'Y');
insert into Apply values (876, 'Stanford', 'CS', 'N');
insert into Apply values (876, 'MIT', 'biology', 'Y');
insert into Apply values (876, 'MIT', 'marine biology', 'N');
insert into Apply values (765, 'Stanford', 'history', 'Y');
insert into Apply values (765, 'Cornell', 'history', 'N');
insert into Apply values (765, 'Cornell', 'psychology', 'Y');
insert into Apply values (543, 'MIT', 'CS', 'N');

In [ ]:
%%sql

insert into Student values (843, 'Craig', -3.4, 2000);

--IntegrityError: (sqlite3.IntegrityError) CHECK constraint failed: Student
[SQL: insert into Student values (843, 'Craig', -3.4, 2000);]

In [ ]:
%%sql

insert into Apply values (765, 'Cornell', 'CS', 'y');

--IntegrityError: (sqlite3.IntegrityError) CHECK constraint failed: Apply
[SQL: insert into Apply values (765, 'Cornell', 'CS', 'y');]

In [ ]:
%%sql

insert into Apply values (765, 'Cornell', 'CS', 'Y');

**Exercice** : avec une requête, déterminez la valeur de _major_ la plus longue. Il faudra un agrégat et trouver la bonne fonction sur les chaînes dans la documentation <https://www.sqlite.org/lang_corefunc.html>.

In [ ]:
%%sql 

SELECT DISTINCT major
    FROM Apply
    WHERE major
    LENGTH(major) = (SELECT MAX(LENGTH(major))
                     FROM Apply
                    ) 
    ;

In [ ]:
%%sql 

SELECT major
    FROM Apply
    GROUP BY major
    HAVING 
    LENGTH(major) = (SELECT MAX(LENGTH(major))
                     FROM Apply
                    ) 
    ;

**Exercice** : définir une nouvelle table `Major` avec comme attributs _code_ qui est clef et un autre attribut _description_. Peuplez ensuite cette table en utilisant l'attribut _major_ de `Apply`  (avec une requête `INSERT INTO Apply SELECT ...`). Lors de l'import, normalisez l'attribut _code_ pour que toutes ses valeurs soient en majuscule. Pour la description, vous pouvez remplir avec le code dans un premier temps puis éditer à la main (e.g., pour _EE_ on voudrait lire _Electrical Engineering_).

In [ ]:
%%sql

DROP TABLE IF EXISTS Major;

CREATE TABLE Major(
    code varchar(255), 
    description varchar(255), 
    PRIMARY KEY (code)    
);

INSERT INTO Major SELECT DISTINCT upper(substr(major, 1, 2)), upper(substr(major, 1, 2)) FROM Apply ;

In [ ]:
%%sql

SELECT * FROM Major;



**Exercice** : on souhaite mettre à jour la table `Apply` et ajouter la contrainte de clef étrangère vers la table `Major` nouvellement créée. Malheureusement, SQLite ne permet pas les opérations (<https://www.sqlite.org/omitted.html>) nécessaires. Voir aussi [https://www.sqlitetutorial.net/sqlite-check-constraint/](https://www.sqlitetutorial.net/sqlite-check-constraint/)  Ainsi à la place

 . créez une table `Apply2` avec toutes les contraintes,
 . insérez le contenu de `Apply` dans `Apply2`,
 . supprimez `Apply` (commande `DROP TABLE ...`),
 . enfin renommez `Apply2` en  `Apply` (commande `ALTER TABLE ....`).

In [ ]:
%%sql

CREATE TABLE Apply2(        
    sID int REFERENCES Student(sID),                    
    cName varchar(255) REFERENCES College(cName),
    codeMajor varchar(255) REFERENCES Major(code),  
    decision char(1) CHECK(decision IN('Y', 'N')),
    PRIMARY KEY (sID, cName, codeMajor)      
);

INSERT INTO Apply2 SELECT sID, cName,upper(substr(major, 1, 2)), decision   FROM Apply ;

DROP TABLE Apply;

ALTER TABLE Apply2 RENAME TO Apply;

In [ ]:
%%sql

SELECT * FROM
Apply JOIN Major
ON Apply.codeMajor=Major.Code;

* Diagramme entité relation dans ce cas  :

![Students.png](mocodo/Stanford2/Students.png)


<div>
  <span class='relation'>Student</span> (
    <span class='primary'>sID</span>,
    <span class='normal'>sName</span>,
    <span class='normal'>GPA</span>,
    <span class='normal'>sizeHS</span>
  )
  <ul>
    <li>Le champ <i>sID</i> constitue la clef primaire de la table. C'était déjà un identifiant de l'entité <i>Student</i>.</li>
    <li>Les champs <i>sName</i>, <i>GPA</i> et <i>sizeHS</i> étaient déjà de simples attributs de l'entité <i>Student</i>.</li>
  </ul>
</div>

<div>
  <span class='relation'>Major</span> (
    <span class='primary'>code</span>,
    <span class='normal'>description</span>
  )
  <ul>
    <li>Le champ <i>code</i> constitue la clef primaire de la table. C'était déjà un identifiant de l'entité <i>Major</i>.</li>
    <li>Le champ <i>description</i> était déjà un simple attribut de l'entité <i>Major</i>.</li>
  </ul>
</div>

<div>
  <span class='relation'>Apply</span> (
    <span class='primary'>id</span>,
    <span class='normal'>sID</span>,
    <span class='normal'>cName</span>,
    <span class='normal'>code</span>,
    <span class='normal'>decision</span>,
    <span class='foreign'>code.1</span>,
    <span class='foreign'>cName.1</span>,
    <span class='foreign'>sID.1</span>
  ) 
  <ul>
    <li>Le champ <i>id</i> constitue la clef primaire de la table. C'était déjà un identifiant de l'entité <i>Apply</i>.</li>
    <li>Les champs <i>sID</i>, <i>cName</i>, <i>code</i> et <i>decision</i> étaient déjà de simples attributs de l'entité <i>Apply</i>.</li>
    <li>Le champ <i>code.1</i> est une clef étrangère. Il a migré à partir de l'entité <i>Major</i> par l'association de dépendance fonctionnelle <i>Discipline</i> en perdant son caractère identifiant.</li>
    <li>Le champ <i>cName.1</i> est une clef étrangère. Il a migré à partir de l'entité <i>College</i> par l'association de dépendance fonctionnelle <i>Dossier</i> en perdant son caractère identifiant.</li>
    <li>Le champ <i>sID.1</i> est une clef étrangère. Il a migré à partir de l'entité <i>Student</i> par l'association de dépendance fonctionnelle <i>Candidature</i> en perdant son caractère identifiant.</li>
  </ul>
</div>

<div>
  <span class='relation'>College</span> (
    <span class='primary'>cName</span>,
    <span class='normal'>state</span>,
    <span class='normal'>enrollment</span>
  )
  <ul>
    <li>Le champ <i>cName</i> constitue la clef primaire de la table. C'était déjà un identifiant de l'entité <i>College</i>.</li>
    <li>Les champs <i>state</i> et <i>enrollment</i> étaient déjà de simples attributs de l'entité <i>College</i>.</li>
  </ul>
</div>